<div class="container__small-card">
  <div class="container__small-card-content">
      <div class="small-card__photo">
        <img
        src="https://assets.dio.me/uRYDV7s7jerAveKZogvm5cmrXK7rTVe2mWE71tCcyVU/f:webp/q:80/L2FydGljbGVzL2NvdmVyLzRkOWI2NmFlLTllOGEtNDg3My1hNDA1LTExY2U4ODNlODZjNy5qcGc"
        alt=""
        srcset=""
        >
      </div>

      <div class="small-card__title">
        <h1><a href="#">Conheça o Sistema Operacional Linux!</a></h1>
      </div>
    </div>
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>
