<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcJA_hd7GjlX9irerXOFaiZsxyBInqa9JEQ&s"
        cardTitle="Angular na DIO"
        cardDescription="Venha fazer parte dos desafios da DIO em um bootcamp em parceria com a Avanade! Mergulhe e aprenda Java, Angular, Banco de dados, Typescript e muito mais!"
        >
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      cardTitle="O sistema operacional Linux está no seu Android!"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQianUpuiAQgRuICOMf4a-reaoxUwSGSfhfcg&s">
    </app-small-card>
    <app-small-card
      cardTitle="Conheça as ferramentas que facilitam seu estudo!"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJZ08S-RdVQw6JYmf-pB9q0UAbrbOgLuEWuA&s"></app-small-card>
    <app-small-card
    cardTitle="Experimente o Linux e surpreenda-se!"
    photoCover="https://assets.dio.me/uRYDV7s7jerAveKZogvm5cmrXK7rTVe2mWE71tCcyVU/f:webp/q:80/L2FydGljbGVzL2NvdmVyLzRkOWI2NmFlLTllOGEtNDg3My1hNDA1LTExY2U4ODNlODZjNy5qcGc"></app-small-card>

  </div>
</div>
